$buttonColor: #2B8EAD;
$boxColor-dark: #333333;
$boxColor-light:#6F98A8;
$boxColor-grey: #BFBFBF;
$textColor: #FFFFFF;
$textColor-tab: #000000;
$backgroundColor: #EFEFEF;

$headerHeight: 50px;

$mediaquery-mobile: 360px;
$mediaquery-tab: 768px;
$mediaquery-desktop-sm: 992px;
$mediaquery-desktop-lg: 1600px;